
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Formulario de contacto">
        <meta name="keywords" content="ambiente, sustentable, productos veganos,shampoo solido, acondicionador solido">

        <title>Brusacontactos</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap" rel="stylesheet">
        <link rel="shortcut icon" href="{% static 'IMG/BRUSA.jpg' %}" alt = "Logo de la empresa" width="150px">
        <link rel="stylesheet" href="{% static 'CSS/estilo.css' %}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    </head>

{% include './topbar_base.html' %}
<body>
    <section class="contenedorcontacto container text-left">

        <div class="fondocontactosform container text-left .col-">

            
            <div class="divformuariogral">
                {% block body %}
                
                <h1>No tiene permiso para editar clientes</h1>
                
                <button type='button'>
                    <a class="navbar-brand" href="{% url 'Inicio' %}">Volver</a>
                </button>
                {% endblock body %}
            </div>
        </div>
    </section>

    {% include './footer_base.html' %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>    
</body>
</html>