@use 'globales';

.containerproductosgeneralmayor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px 60px 30px 60px;

    .productocontainerprecio{
        display:flex;
        justify-content:center;
        max-width: 75%;
    }

    .productocontainer{
        display: flex;
        justify-content:center;
        border-radius: 4px;
        flex-direction: column;
        border-radius: 10px;
        border-bottom: 20px;
        border-top: 20px;
        flex: 0.5;
        padding: 45px;
        align-items: center;
    
        .hoverimagennuestrosproductos:hover {
            filter: opacity(.5);
        }

        .maximage{
            width: 450px;
            height: 450px;
        }

        @media only screen and (max-width:768px) {

            .maximage {
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}